[{{ item.username | capitalize }}'s Time Machine]
    comment = macOS backups for {{ item.username | capitalize }}
    path = {{ backups_path }}/{{ item.username }}
    valid users = {{ item.username }}
    read only = no
    vfs objects = catia fruit streams_xattr
    fruit:time machine = yes
